#include <windows.h>
#include "Resource.h"

IDI_CLOCK       ICON    "clock.ico"
IDI_SMALL       ICON    "small.ico"
IDR_NOTIFICATION RCDATA  "..\\gamemus.wav"

/////////////////////////////////////////////////////////////////////////////
// Диалог установки времени

IDD_SET_TIME DIALOGEX 0, 0, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Настройка времени"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Введите игровое время (ЧЧ:ММ):", -1, 10, 10, 180, 20
    EDITTEXT        IDC_EDIT_TIME, 10, 30, 180, 20, ES_AUTOHSCROLL | ES_CENTER
    DEFPUSHBUTTON   "ОК", IDOK, 40, 70, 50, 14
    PUSHBUTTON      "Отмена", IDCANCEL, 110, 70, 50, 14
END

/////////////////////////////////////////////////////////////////////////////
// Диалог "О программе"

IDD_ABOUT DIALOGEX 0, 0, 250, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "О программе"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_APPICON, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 10, 10, 32, 32
    LTEXT   "Игровые часы", IDC_ABOUT_TEXT, 50, 15, 190, 20
    DEFPUSHBUTTON "Закрыть", IDOK, 90, 80, 70, 14
END

